# **Preprocessing and Feature Engineering**

### **Imports**
---

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

### **Load the data**
-----

In [6]:
train = pd.read_csv('../data/train_cleaned.csv')
train.head()

,sale_id,parcel_id,dwelling_type,zoning_type,lot_frontage,lot_area,street_surface,alley_surface,property_shape,property_flatness,...,screen_porch_size,pool_size,pool_quality,fence_quality,misc_features,misc_features_value,month_sold,year_sold,sale_type,sale_price
0,544,531379050,60,RL,43.0,11492.0,Pave,NaN,IR1,Lvl,...,0.0,0.0,NaN,NaN,NaN,0.0,4,2009,WD,220000.0
1,153,535304180,20,RL,68.0,7922.0,Pave,NaN,Reg,Lvl,...,0.0,0.0,NaN,NaN,NaN,0.0,1,2010,WD,109000.0
2,318,916386060,60,RL,73.0,9802.0,Pave,NaN,Reg,Lvl,...,0.0,0.0,NaN,NaN,NaN,0.0,4,2010,WD,174000.0
3,255,906425045,50,RL,82.0,14235.0,Pave,NaN,IR1,Lvl,...,0.0,0.0,NaN,NaN,NaN,0.0,3,2010,WD,138500.0
4,2827,908186070,180,RM,35.0,3675.0,Pave,NaN,Reg,Lvl,...,0.0,0.0,NaN,NaN,NaN,0.0,6,2006,New,140000.0

In [7]:
test = pd.read_csv('../data/test_cleaned.csv')
test.head()

,sale_id,parcel_id,dwelling_type,zoning_type,lot_frontage,lot_area,street_surface,alley_surface,property_shape,property_flatness,...,three_season_porch_size,screen_porch_size,pool_size,pool_quality,fence_quality,misc_features,misc_features_value,month_sold,year_sold,sale_type
0,2658,902301120,190,RM,69.0,9142.0,Pave,Grvl,Reg,Lvl,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662.0,Pave,NaN,IR1,Lvl,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104.0,Pave,NaN,IR1,Lvl,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,9,2006,New
3,1989,902207150,30,RM,60.0,8520.0,Pave,NaN,Reg,Lvl,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,7,2007,WD
4,625,535105100,20,RL,NaN,9500.0,Pave,NaN,IR1,Lvl,...,0.0,185.0,0.0,NaN,NaN,NaN,0.0,7,2009,WD

In [ ]:
# for exploration and modelling
#1) run model where all features includes - X = df.drop(columns = 'SalesPrice')

# Three different way to create X:
#X = ads[['TV', 'radio', 'newspaper']]

#X = ads.drop(columns = ['sales']) # recommended with high dimensional datasets

model without feature engineering, interaction terms, dropping collinear features manually

### *Handling Categorical Variables*

In [ ]:
# candidates for #'s rather than dummy variables
'house_quality','house_condition','exterior_quality','exterior_condition', 'basement_height', 'basement_condition','basement_walkouts', 'heating_quality', 'kitchen_quality', 'fireplace_quality', 'garage_quality',
'garage_condition', 'pool_quality','fence_quality'

In [ ]:
# candidates for interaction features or dropping collinear?
house & exterior & garage - - quality/condition
'basement_height', 'basement_condition'

# collinear?
# check with correlation/plot if 90 or greater, drop 1 of them that's less correlated with price
droppping one of the quality / condition ones

In [ ]:
#check data types
train.info()

In [ ]:
train = pd.get_dummies(data = train, columns = ['dwelling_type','zoning_type','street_surface','alley_surface','property_shape','property_flatness',
                     'util_avail','lot_position','property_slope','ames_neighborhood','prox_to_transport','prox_to_transport_2',
                     'bldg_type', 'floors','house_quality','house_condition','roof_style', 'roof_material','ext_covering','ext_covering2',
                     'masonry_veneer_type','exterior_quality','exterior_condition','foundation_type','basement_height', 'basement_condition',
                     'basement_walkouts','basement_finished_rating','basement_finished_rating2','heating_type','heating_quality','central_air',
                     'electrical_setup', 'full_bathrooms_basement', 'half_bathrooms_basement', 'full_bathrooms_above_ground',
                     'half_bathrooms_above_ground','bedrooms_above_ground', 'kitchens_above_ground', 'kitchen_quality', 'home_functionality',
                     'fireplace_quality', 'garage_location', 'garage_finished', 'garage_car_capacity', 'garage_quality',
                     'garage_condition', 'driveway_surface','pool_quality','fence_quality', 'misc_features', 'sale_type'], drop_first = True)

In [ ]:
print(train.shape)
train.head()

In [ ]:
# comparing correlations of all categorical features to target 
train.corr()[['sale_price']].sort_values(by = 'sale_price', ascending=False)

In [9]:
# at this point save a version to model with to try all features
# also save model after before each (combining, interaction, dropping) - run all features through after each to see if any improvement

------
### *Combining Features*

In [8]:
# combine bedrooms
# combine bathrooms
# combine kitchens (above and below ground)
# combine area of home (finished below and above)

### *Interaction Terms*

### *Dropping Collinear Features*

In [ ]:
# for exploration and modelling
#1) run model where all features includes - X = df.drop(columns = 'SalesPrice')

# Three different way to create X:
#X = ads[['TV', 'radio', 'newspaper']]

#X = ads.drop(columns = ['sales']) # recommended with high dimensional datasets

model without feature engineering, interaction terms, dropping collinear features manually for all variables