# **Model Benchmarks and Tuning**

### **Imports**
---

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, Lasso, LassoCV
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn import metrics

### **Load the data**
-----

In [4]:
train = pd.read_csv('../data/train_preprocessed.csv')
train.head()

,Id,parcel_id,zoning_type,lot_frontage,lot_area,util_avail,year_built,year_remodeled,masonry_veneer_area,exterior_quality,...,misc_features_Shed,misc_features_nan,sale_type_CWD,sale_type_Con,sale_type_ConLD,sale_type_ConLI,sale_type_ConLw,sale_type_New,sale_type_Oth,sale_type_WD
0,544,531379050,RL,43.0,11492.0,AllPub,1996,1997,132.0,3,...,0,1,0,0,0,0,0,0,0,1
1,153,535304180,RL,68.0,7922.0,AllPub,1953,2007,0.0,2,...,0,1,0,0,0,0,0,0,0,1
2,318,916386060,RL,73.0,9802.0,AllPub,2006,2007,0.0,2,...,0,1,0,0,0,0,0,0,0,1
3,255,906425045,RL,82.0,14235.0,AllPub,1900,1993,0.0,2,...,0,1,0,0,0,0,0,0,0,1
4,2827,908186070,RM,35.0,3675.0,AllPub,2005,2006,82.0,2,...,0,1,0,0,0,0,0,1,0,0

In [5]:
test = pd.read_csv('../data/test_preprocessed.csv')
test.head()

,Id,parcel_id,zoning_type,lot_frontage,lot_area,util_avail,year_built,year_remodeled,masonry_veneer_area,exterior_quality,...,misc_features_nan,sale_type_CWD,sale_type_Con,sale_type_ConLD,sale_type_ConLI,sale_type_ConLw,sale_type_New,sale_type_Oth,sale_type_VWD,sale_type_WD
0,2658,902301120,RM,69.0,9142.0,AllPub,1910,1950,0.0,2,...,1,0,0,0,0,0,0,0,0,1
1,2718,905108090,RL,NaN,9662.0,AllPub,1977,1977,0.0,2,...,1,0,0,0,0,0,0,0,0,1
2,2414,528218130,RL,58.0,17104.0,AllPub,2006,2006,0.0,3,...,1,0,0,0,0,0,1,0,0,0
3,1989,902207150,RM,60.0,8520.0,AllPub,1923,2006,0.0,3,...,1,0,0,0,0,0,0,0,0,1
4,625,535105100,RL,NaN,9500.0,AllPub,1963,1963,247.0,2,...,1,0,0,0,0,0,0,0,0,1

### Model Benchmark

In [6]:
#mean of Y
train['SalePrice'].mean()

167024.4536163522